body {    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.Content {
    background: #e5e5e5;
    margin: 10px 0 0 0;
}
.App-logo {
    height: 70px;
    padding-top: 10px; 
}
.Navbar {
    width:100%;
    background-color:black;
    text-align: right;
}

.Navbar li {
    display: inline-block;
    margin: 15px;
    font-size:20px;    
}

.Navbar li a {
    color:#fff;
    text-decoration: none;
}

.Navbar li a:hover, .List a:hover {
    color:#61dafb;  
    text-decoration:underline;  
}

.Text-left {
    text-align: left;
}

.Text-center {
    text-align: center;
}

.List a {
    color: #000;
    text-decoration: none;
}

.Post-title {
    color:#61dafb;
    text-align: center;
    text-transform: uppercase;
}